In [1]:
from sklearn.datasets import load_iris
import numpy as np
import pandas as pd

In [2]:
dt=load_iris()

In [3]:
df=pd.DataFrame(dt.data,columns=dt.feature_names)
df["species"] = dt.target
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

In [4]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(dt.data,dt.target)

In [5]:
from sklearn.neighbors import KNeighborsClassifier
model = KNeighborsClassifier(n_neighbors=10)
model=model.fit(x_train,y_train)

In [6]:
pd.to_pickle(model,"iris.pickle")

In [7]:
model=pd.read_pickle("iris.pickle")

In [8]:
sepal_len=float(input())
sepal_wid=float(input())
petal_len=float(input())
petal_wid=float(input())
res=model.predict([[sepal_len,sepal_wid,petal_len,petal_wid]])
res

ValueError: could not convert string to float: ''